{% extends 'base.html.twig' %}

{% block title %}CancelEvent{% endblock %}

{% block body %}
    <h1>CancelEvent</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ cancel_event.id }}</td>
        </tr>
        <tr>
            <th>Reason</th>
            <td>{{ cancel_event.reason }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('cancel_event_index') }}">back to list</a>

    <a href="{{ path('cancel_event_edit', {'id': cancel_event.id}) }}">edit</a>

    {{ include('cancel_event/_delete_form.html.twig') }}
{% endblock %}
